<p style="color: green"><%= notice %></p>
<style>
         table, th, td {
            border: 1px solid black;
         }
</style>
<%= render @book_requests %>
  <%# <table class="table table-striped"> %>
  <table class= "table-secondary" >
    <thead>
      <tr>
        <th>User</th>
    
        <th>Title</th>
      
        <th>Author</th>
        
        <th>Status</td>
      </tr>
    </thead>

    <tbody>
      <% @book_requests.each do |book_request| %>
        <tr>
          <td ><%= book_request.user.email %></td>
          <td><%= book_request.book.title %></td>
          <td><%= book_request.book.author %></td>
          <td><%= book_request.status %></td>
          <td>
            <% if book_request.pending? %>
              <% ["approve", "deny"].each do |status| %>
                <%= button_to status.titleize, admin_book_request_path(book_request, status: status  ) , method: :patch %> 
              <%end%>
            <%end%> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to "Back to book List ", admin_books_path %>  
  </div>
