<p style="color: green"><%= notice %></p>

<%= render @book %>
<p>Book Title : <%=@book.title%></p>
<p>Book Author : <%=@book.author%></p>
<p>Book Description : <%=@book.description%></p>

<div>
  <% if @book.book_approved_by_admin?(current_user)%>
    <%= button_to "Approved" %>
  <% elsif @book.book_requested_by_user?(current_user) %>
    <%= button_to "Cancel book issue request", book_request_path(@book.book_requests_by_user(current_user)), method: :delete %>
  <% else %>
    <%= button_to "Request book for issue", book_requests_path(book_request: { book_id: @book.id }), method: :post %>
  <% end %>
</div>
<div>
   <%= link_to "Back to book List ", books_path %>
</div>