<p style="color: green"><%= notice %></p>
<style>
         table, th, td {
            border: 1px solid black;
         }
</style>
<%= render @book_requests %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
    
        <th>Author</th>
      
        <th>Description</th>
        
        <th>Status</td>
      </tr>
    </thead>

    <tbody>
      <% @book_requests.each do |book_request| %>
        <tr>
          <td ><%= book_request.user.email %></td>
          <td><%= book_request.book.title %></td>
          <td><%= book_request.book.author %></td>
          <td><%= book_request.status %></td>
          <td><% BookRequest::statuses.keys.each do |status| %>
              <%if book_request.status.eql?("approved") %>
                <%= button_to "approved" %>
                <%break%>
                <%elsif book_request.status.eql?("deny") %>
                <%= button_to "denied" %>
                <%break%>
              <%else%>
                <% unless book_request.status.eql?(status.to_s) %>
                  <%= button_to status, update_status_book_request_path(book_request ,status: status) , method: :patch %>
                  <%end%>
                <%end%>
              <%end%>
          </td>
          <%# yaha upar button Approve hoto  k button ka text Approved ho jaye or deny ho to denied ho jaye sath hi current user ki request ka status deny aaye%>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
  <%= link_to "Back to book List ", books_path %>  
</div>
