<p style="color: green"><%= notice %></p>
<style>
         table, th, td {
            border: 1px solid black;
         }
</style>
<%# <%= render @book_requests %> %>
<h1> Issued Books</h1>
  <table>
    <thead>
      <tr>
        <th>User</th>
    
        <th>Title</th>
      
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
     <% @approve_requests.each do |book_request| %>
        <tr>
          <td ><%= book_request.user.email %></td>
          <td><%= book_request.book.title %></td>
          <td><%= book_request.book.author %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<div>
  <%= link_to "Back to book List ", books_path %>
</div>
